
.bookingtable{
    /* overflow: scroll; */
    /* height: 100%; */
}

.bookingtable input{
    height: 30px;
    border-radius: 6px;
    border: 1px solid gray;
    padding: 5px;
}


.bookingtable table{
    border-collapse: collapse;
    width: 95%;
    margin: 20px auto;
    background-color: white;
    text-align: center;
    color: rgb(65, 65, 65);
    overflow-y: scroll;
    overflow-x: scroll;
    height: 100%;
}

.bookingtable table tr:first-child{
    background-color: #0062ff28;
    /* padding: 15px 20px; */
}

/* .bookingcon table tr:hover{
    background-color: #fdfdfd;
} */


.bookingtable table td, .bookingtable table th{
    border-bottom: 1px solid rgba(183, 183, 183, 0.288);
    padding: 15px 0;
    /* height: 60px; */
    padding: 15px 10px;
        height: 50px;
        font-size: 15px;
        border: 1px solid rgba(128, 128, 128, 0.177);
}

.bookingtable table img{
    width: 50px;
}

.emp{
    width: 95%;
    /* height: 95%; */
    background-color: #fff;
    border: 1px solid black;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    padding: 20px;
}

.bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.525);
}


@media only screen and (max-width:1000px){
    
    .bookingtable table td, .bookingtable table th{
        border-bottom: 1px solid rgba(183, 183, 183, 0.288);
        padding: 15px 10px;
        height: 50px;
        font-size: 14px;
        border: 1px solid rgba(128, 128, 128, 0.177);
    }

    
.bookingtable table{
    /* border-collapse: collapse; */
    width: 98%;
}
}