.sidebar, .Hidesidebar{
    width: 18%;
    height: 100vh;
    background-color: #0c0c0c;
    /* background-color: #2C2C2C; */
    color: white;
    /* transform: translateX(-100%); */
    /* display: none; */
}

.Hidesidebar{
    display: none;
}

.sidebarHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.sidebarHead div{
    display: flex;
    align-items: center;
    gap: 10px;
    /* color: #0061ff; */
    font-size: 25px;
    font-weight: 500;
}

.closeMenu{
    display: none;
}

.closeMenu{
    /* font-size: 5px; */
    padding: 5px;
    /* background-color: #0061ff; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    /* display: none; */
}
.sidebarHead img{
    width: 40px;
}

.sidebar ul li a, .Hidesidebar ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
}
.sidebar ul li, .Hidesidebar ul li{
    cursor: pointer;
    padding: 20px;
    border-bottom: 1px solid rgba(53, 53, 53, 0.616);
    
   
    /* height: 55px; */
    
    font-size: 16px;
    transition: .5s;
}

.sidebar ul li:hover, .Hidesidebar ul li:hover{
    /* color: #8459ba; */
    /* background: linear-gradient(to right, #0c0c0c00, #ff3131); */
    background: linear-gradient(to right, #0c0c0c00, #0061ff);
    /* border-right: 1px solid; */
}

.sidebar svg, .Hidesidebar svg{
    font-size: 18px;
    /* color: #8459ba; */
}

.sidebar .subp{
    list-style: none;
}
.sidebar ul .subp li{
    font-size: 12px;
    padding: 10px 20px;
    padding-left: 50px;
    height: 45px;
}

.sidebar ul .subp li a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar .subp svg, .Hidesidebar .subp svg{
    font-size: 13px;
    /* color: #8459ba; */
}

@media only screen and (max-width:1200px) {
    .sidebar{
        display: none;
        /* background-color: red; */
    }

    .Hidesidebar{
        position: absolute;
        width: 300px;
        display: block;
    }

    .closeMenu{
        display: block;
    }
    
}

@media only screen and (max-width:500px) {
    .Hidesidebar{
        position: absolute;
        width: 100vw;
        display: block;
    }
}